html, body {
	margin:  0;
	padding: 0;
	margin-right: -1rem;
}

body {
	position: relative;
	width: 100%;
	overflow-x: hidden;
	font-family: 'Be Vietnam', sans-serif;
	font-size:  16px;
	font-weight: 400;
	color: hsl(227, 12%, 61%);
	background-color: hsl(0, 0%, 98%);
	background: url('images/bg-tablet-pattern.svg') top -12rem right -12rem no-repeat;
}

.container-fluid {
  padding: 3.5% 0 0 8.5%;
}

section {
	margin-bottom: 6rem;
}

/* Navigation Bar */

.collapse {
	position: relative;
	padding-right: 27rem;
}

.nav-item, .last-nav-link {
	font-size: 13px;
	padding: 0 .5rem;
}

.nav-link {
	color: hsl(228, 39%, 23%);
	font-weight: 700;
}

.common-link {
  	background-color: hsl(12, 88%, 59%);
  	color: white;
  	font-size: 12px;
  	padding: .7rem 1.8rem;
  	border-radius: 20px;
 		vertical-align: baseline;
}

.last-nav-link {
	position: absolute;
	right: 5.9rem;
}

/* HEAD */

.head {
	margin-bottom: 12rem;
}

.head-text {
	position: relative;
	margin-left: 15px;
}

p {
	display: block;
	width:  21rem;
	margin-top: 2rem;
}

h1, h2 {
	font-weight: 700;
	font-size: 3.3rem;
	color:  hsl(228, 39%, 23%);
}

.img-block {
	position: relative;
}

.graph-img {
	position: absolute;
	display:  block;
	right:  1rem;
	margin-top: -4rem;
}

.head-link {
	position: relative;
	right: 0;
	top: 2rem;
}

/*  DIFFERENCE */

h2 {
	font-size: 2.7rem;
}

dl {
	margin-left: 3.5rem;
}

dt {
	color:  hsl(228, 39%, 23%);
}

dd {
	display: block;
	margin: 2rem auto;
	color: hsl(227, 12%, 61%);
	margin-left: 5.7rem;
}

.diff {
  padding: 3.5% 0 0 8.5%;
}

.prev-left {
	padding-left: 1.9rem;
}

.prev-right {
	padding-top: .5rem;
}

.define-link {
	margin-right: 1.5rem;
  	padding: .4rem 1.4rem;
}

.diff-section {
	position: relative;
}

.pattern-img {
	position: absolute;
	z-index:  -1;
	top: 21.5rem;
	left: -32.5rem;
}

/* Feedback */

.feedback-header {
	text-align: center;
	margin-bottom: 7rem;
}

.carousel {
	position: relative;
	margin: 0;
	padding: 0;
}

.carousel-cell {
	display: inline-block;
	position: absolute;
	text-align: center;
	padding: 2rem;
	background-color: hsl(0, 0%, 98%);
}

.carousel-cell img {
	display: block;
	margin: -4rem auto 1.5rem;
	width: 15%;
}

.caption {
	color:  hsl(228, 39%, 23%);
	font-weight: 700;
}

.carousel-cell p {
	width: 28.6rem;
	margin-top: 1.5rem;
}

.first-cell {
	animation: moving1 20s linear infinite; 
	/*left: -10%;*/
}

.middle-cell {
	animation: moving2 20s linear infinite; 
  /*left: 30.7%;*/
}

.third-cell {
	animation: moving3 20s linear infinite; 
	/*right: -10%;*/
}

.last-cell {
	animation: moving4 20s linear infinite; 
	/*right: -100%;*/
}

@keyframes moving1 {
  0% {
    left: -40%;
  }
  100% {
  	left: 220%;
  }
}

@keyframes moving2 {
  0% {
    left: -80%;
  }
  100% {
  	left: 180%;
  }
}

@keyframes moving3 {
  0% {
    left: -120%;
  }
  100% {
  	left: 140%;
  }
}

@keyframes moving4 {
  0% {
    left: -160%;
  }
  100% {
  	left: 100%;
  }
}

.feedback-section {
	position: relative;
	height: 37rem;
}

.feedback-link {
	position: absolute;
	bottom: 5rem;
	left: 45%;
}

/* Colored Section */

.colored {
	background-color: hsl(12, 88%, 59%);
	height: 13rem;
	position: relative;
	overflow: hidden;
}

.colored-header {
	display: inline-block;
	width: 33rem;
	margin: 2.75rem 8.1rem auto;
	color: hsl(0, 0%, 98%);
}

.colored-link {
  	background-color: hsl(0, 0%, 98%);
  	color: hsl(12, 88%, 59%);
  	font-weight: 700;
 		position: absolute;
 		right: 8.3%;
 		top: 38%;
}

.colored-img {
	position: absolute;
	left: 5%;
	top: -30%;
	color: hsl(13, 100%, 96%);
	filter: opacity(10%);
	width: 50%;
}

.colored-img-2 {
	top: -255%;
	left: 87%;
}

/* Footer */

footer {
	background-color: hsl(233, 12%, 13%);
	position: relative;
	height: 15rem;
}

footer .container-fluid {
	margin-top: -6rem;
}

footer .container-fluid img {
	margin-left: 1rem;
}

footer ul {
	position: absolute;
	left: 30%;
	top: 14%;
	list-style: none;
}

footer ul:nth-child(2) {
	left: 50%;
}

footer .nav-link {
	color: hsl(0, 0%, 98%);
	font-size: 14px;
	font-weight: 400;
}

form {
	position: absolute;
	right: 7rem;
	top: 3.15rem;
}

form input {
	padding: .8rem 2rem .8rem .8rem;
	font-size: 12px;
	border: none;
	border-radius: 50px;
}

form button {
	padding: .8rem 1.3rem;
	margin-left: .3rem;
	background-color: hsl(12, 88%, 59%);
	color: hsl(0, 0%, 98%);
	font-size: 12px;
	border: none;
	border-radius: 50px;
}

.socials {
	position: absolute;
	top: 62%;
	left: 9.5%;
}

.socials img {
	margin-right: .5rem;
}

footer span {
	position: absolute;
	top: 65%;
	right: 8.3%;
	font-size: 10px;
}

/* Active States */

a:hover {
	color: hsl(0, 0%, 95%);
	text-decoration: none;
}

.nav-link:hover {
	color: hsl(227, 12%, 61%);
}